{% extends "layout.html" %}
{% set active_page = "friends" %}

{% block heading %}
  Frøyas web application
{% endblock %}

{% block body %}

    <p> Here I would like to keep pictures of my friends </p>


    {% for picture in pictures %}
        <p> {{picture}} </p>
        <img src="{{ url_for('static', filename=picture) }}" width="30%"/>
    {% endfor %}

    {% raw %}
    <img src="{{ picture }}" />
    <img src="{{ url_for('static', filename='alva.jpg') }}" width="30%"/>

    {% endraw %}





{% endblock %}
